html {
  position: relative;
  min-height: 100%;
}

/* padding for header and footer */
body{
  padding-top: 85px;
  padding-bottom: 40px;
}

.btn:focus, .btn:active {
  outline: 0 !important;
}

.logo {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 70px;
  /*z-index: 99999;*/
}

.navbar-PRC {
  background-color: #f41c1c;
  border-bottom: 2px solid black;
  height: 50px;
}

.navbar-brand-PRC {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 100px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  background-color: black;
  text-align: center;
  padding-top: 6px;
}

.motto-white {
  color: #fff;
  font-weight: bolder;
  font-size: 120%;
  margin-right: 6px;
}

.motto-red {
  color: #ff1e19;
  font-weight: bolder;
  font-size: 18px;
}

.col-motto {
  background-color: black;
}

.container-motto {
  background-color: black;
}